
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
   max-width:950px;
}

html {
    margin: 0px auto;
    background-color: #7d97ad;
}

body {
 font-family: 'Lora', serif;
 color: #747704;
 font-weight:300;
}

.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size:60px;
}

.title-logo{
	margin-top:20px;
}

.logo{
	width: 15%;
}

.horizontal{
	border-color:#7d97ad;
	border-width:5px;
}

.front_end_developer{
	width:100%;
}

.logos{
	height:160px; 
	width:286px;
}

@media all and (max-width:991px){
	.title{
		font-size:23px;
	} 
	
	
}






